@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Custom CSS Variables */
    --header-height: 4rem;

    /* CSS Variables for light theme */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply min-h-svh w-full bg-background text-foreground;
  }
  body > #root {
    @apply h-svh;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .faded-bottom {
    @apply after:pointer-events-none after:absolute after:bottom-0 after:left-0 after:hidden after:h-32 after:w-full after:bg-[linear-gradient(180deg,_transparent_10%,_hsl(var(--background))_70%)] after:md:block;
  }
}

/* Collapsible dropdown animation */
.collapsibleDropdown {
  overflow: hidden;
}
.collapsibleDropdown[data-state='open'] {
  animation: slideDown 200ms ease-out;
}
collapsibleDropdown[data-state='closed'] {
  animation: slideUp 200ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

/* HeroCards background shadow */
.shadow.hero-card-shadow {
  position: absolute;
  background: hsl(var(--primary) / 0%);
  border-radius: 24px;
  rotate: 35deg;
  width: 260px;
  top: 200px;
  height: 400px;
  filter: blur(150px);
  animation: shadow-slide infinite 4s linear alternate;
}

@keyframes shadow-slide {
  from {
    background: hsl(var(--primary) / 20%);
    right: 460px;
  }
  to {
    background: hsl(var(--primary) / 80%);
    right: 160px;
  }
}

@media (max-width: 1024px) {
  .hero-card .shadow {
    top: 70px;
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 460px;
    }
    to {
      background: hsl(var(--primary) / 50%);
      right: 160px;
    }
  }
}

@media (max-width: 768px) {
  .hero-card .shadow {
    top: 70px;
    width: 100px;
    height: 350px;
    filter: blur(60px);
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 280px;
    }
    to {
      background: hsl(var(--primary) / 30%);
      right: 100px;
    }
  }
}

/* Side Navigation Hover Effect */
.side-nav {
    width: 250px; /* Initial width */
    overflow: hidden; /* Hide overflow */
    transition: width 0.3s ease-in-out; /* Smooth transition */
    background-color: hsl(211, 100%, 89%); /* Light mode friendly */
    color: var(--background); /* Light mode friendly */
    position: fixed;
    right: 20px; /* Add some space from the right border */
    top: 25%;
    z-index: 1000; /* Ensure it stays on top */
    border-radius: 1rem; /* More rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.7; /* Reduced opacity */
        max-height: 50vh; /* Limit height to 50% of viewport */
    overflow-y: auto; /* Enable vertical scrolling */
}

.side-nav:hover {
    width: 160px; /* Expanded width on hover */
    opacity: 1; /* Full opacity on hover */
}

.side-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav ul li {
    transition: opacity 0.3s ease-in-out; /* Smooth transition */
    padding: 0.5rem 1rem;
}

.side-nav ul li a {
    color: black; /* Ensure text is always visible */
    text-decoration: none;
}

.side-nav:hover ul li {
    opacity: 1; /* Fully visible on hover */
}

.toggle-button {
    margin: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: #0056b3;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 40; /* Ensure it stays above other content */
  width: 100%; /* Ensure it spans the full width */
  background-color: white; /* Adjust as needed */
  border-bottom: 1px solid #e2e8f0; /* Adjust as needed */
}

.navbar-placeholder {
  height: 4rem; /* Adjust this value based on the height of your navbar */
}