# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/
/polarcode

# Build directories
dist/
dist-ssr/
build/
out/

# Local environment files
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Miscellaneous
coverage/
*.tgz
*.lock
.pnp.*
.pnp.js
__pycache__/
*.py[cod]

# Sitemap
/data/
__pycache__/
*.py[cod]
.mypy_cache/

# Scripts and prompts
src/lib/scripts/
src/utils/prompts

# Cursor rules
.cursorrules
llm-prompt.md

# Supabase
*_secrets.sql
