[submodule "apps/developers"]
	path = apps/developers
	url = https://github.com/lomiafrica/developers.lomi.africa
[submodule "apps/shopify"]
	path = apps/shopify
	url = https://github.com/lomiafrica/shopify.lomi.africa
[submodule "apps/api"]
	path = apps/api
	url = https://github.com/lomiafrica/api.lomi.africa
[submodule "apps/cli"]
	path = apps/cli
	url = https://github.com/lomiafrica/cli.lomi.africa
[submodule "apps/admin"]
	path = apps/admin
	url = https://github.com/lomiafrica/admin.lomi.africa
[submodule "apps/commerce"]
	path = apps/commerce
	url = https://github.com/lomiafrica/commerce.lomi.africa
[submodule "apps/store"]
	path = apps/store
	url = https://github.com/lomiafrica/store.lomi.africa