:root {
  --navbar-logo-margin-right: 33rem;
  --navbar-logo-padding-left: 1rem;
  --navbar-menu-gap: 0.35rem;
  --navbar-contact-sales-margin-right: 1rem; 
}

.navbar-dock {
  width: calc(100% - 40px);
  max-width: 1353px;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(8px);
}

.dark .navbar-dock {
  background-color: #1214187d;
}

.navbar-logo-container {
  margin-right: 33rem;
  padding-left: 1rem;
}

.navbar-desktop-menu {
  display: none;
}

@media (min-width: 768px) {
  .navbar-desktop-menu {
    display: flex;
    gap: var(--navbar-menu-gap);
    align-items: center;
  }
}

.navbar-contact-sales {
  margin-right: 1rem;
}

@media (max-width: 767px) {
  .navbar-logo-container {
    margin-right: 7.8rem;
    padding-left: 0.5rem;
  }

  .navbar-contact-sales {
    margin-left: 0;
  }

  .navbar-logo-container a {
    align-items: center;
  }
}