# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# ORAMA
NEXT_PUBLIC_ORAMA_PROJECT_ID=
NEXT_PUBLIC_ORAMA_API_KEY=
ORAMA_PRIVATE_API_KEY=
ORAMA_PROJECT_ID=
ORAMA_DATASOURCE_ID=