LOMI_API_BASE_URL=https://api.lomi.africa
LOMI_API_BASE_URL_ALLOWLIST=api.lomi.africa
LOMI_API_FETCH_RETRIES=2
LOMI_API_FETCH_TIMEOUT_MS=30000
LOMI_MCP_ALLOWED_HOSTS=
LOMI_MCP_BEARER_TOKEN=
LOMI_MCP_MAX_SESSIONS=
LOMI_MCP_SESSION_TTL_MS=
LOMI_MCP_MAX_BODY_BYTES=
LOMI_MCP_RATE_LIMIT_RPM=
LOMI_MCP_TRANSPORT=http
LOMI_API_KEY=
X_API_KEY=