LOMI_API_BASE_URL=https://api.lomi.africa
LOMI_API_BASE_URL_ALLOWLIST=api.lomi.africa,sandbox.api.lomi.africa
LOMI_API_FETCH_RETRIES=2
LOMI_API_FETCH_TIMEOUT_MS=30000
LOMI_MCP_ALLOWED_HOSTS=
LOMI_MCP_BEARER_TOKEN=
LOMI_MCP_MAX_RESULT_CHARS=100000
LOMI_MCP_MAX_SESSIONS=2000
LOMI_MCP_SESSION_TTL_MS=1800000
LOMI_MCP_MAX_BODY_BYTES=1048576
LOMI_MCP_RATE_LIMIT_RPM=120
LOMI_MCP_TRANSPORT=http
LOMI_API_KEY=
X_API_KEY=
