# Logs
*.log
npm-debug.log*
bun-debug.log*
bun-error.log*

# Dependency directories
node_modules/
jspm_packages/
vite/
vite-cache/
.vite/
.husky/

# Build directories
dist/
dist-ssr/
build/
out/
polar/
midday/

# Local environment files
.env
.env.local
.env.production
.env.example

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Miscellaneous
*.tgz
*.lock
.pnp.*
.pnp.js
__pycache__/
*.py[cod]

# Sitemap
/data/
__pycache__/
*.py[cod]
.mypy_cache/

# Scripts and prompts
src/lib/scripts/
src/utils/prompts
.cursorrules
/cursor

# Supabase
*_secrets.sql
/supabase/functions
/supabase/queries