@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior: none;
  background: hsl(var(--background));
}

body {
  min-height: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  background: hsl(var(--background));
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Ensure smooth scrolling */
* {
  -webkit-overflow-scrolling: touch;
}

@layer base {
  :root {
    /* Custom CSS Variables */
    --header-height: 4rem;

    /* CSS Variables for light theme */
    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 5%;
    --card: 45 18% 96%;
    --card-foreground: 240 10% 3.9%;
    --popover: 45 18% 96%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 40, 11%, 89%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 40, 11%, 89%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 40, 10%, 94%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --muted-foreground: 0, 0%, 38%;
    --border: 45, 5%, 85%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --toast-border-radius: 0px;
  }

  .dark {
    --background: 0, 0%, 5%;
    --foreground: 0 0% 98%;
    --card: 0, 0%, 5%;
    --card-foreground: 0 0% 98%;
    --popover: 0, 0%, 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 0, 0%, 11%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0, 0%, 11%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 0, 0%, 11%;
    --accent-foreground: 0 0% 98%;
    --destructive: 359, 100%, 61%;
    --destructive-foreground: 0, 0%, 100%;
    --muted-foreground: 0, 0%, 38%;
    --border: 0, 0%, 17%;
    --input: 0, 0%, 11%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply min-h-svh w-full bg-background text-foreground;
    overflow-x: hidden;
  }
  body > #root {
    @apply h-svh;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .faded-bottom {
    @apply after:pointer-events-none after:absolute after:bottom-0 after:left-0 after:hidden after:h-32 after:w-full after:bg-[linear-gradient(180deg,_transparent_10%,_hsl(var(--background))_70%)] after:md:block;
  }
}

/* Collapsible dropdown animation */
.collapsibleDropdown {
  overflow: hidden;
}
.collapsibleDropdown[data-state='open'] {
  animation: slideDown 200ms ease-out;
}
.collapsibleDropdown[data-state='closed'] {
  animation: slideUp 200ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

/* HeroCards background shadow */
.shadow.hero-card-shadow {
  position: absolute;
  background: hsl(var(--primary) / 0%);
  border-radius: 24px;
  rotate: 35deg;
  width: 260px;
  top: 200px;
  height: 400px;
  filter: blur(150px);
  animation: shadow-slide infinite 4s linear alternate;
}

@keyframes shadow-slide {
  from {
    background: hsl(var(--primary) / 20%);
    right: 460px;
  }
  to {
    background: hsl(var(--primary) / 80%);
    right: 160px;
  }
}

@media (max-width: 1024px) {
  .hero-card .shadow {
    top: 70px;
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 460px;
    }
    to {
      background: hsl(var(--primary) / 50%);
      right: 160px;
    }
  }
}

@media (max-width: 768px) {
  .hero-card .shadow {
    top: 70px;
    width: 100px;
    height: 350px;
    filter: blur(60px);
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 280px;
    }
    to {
      background: hsl(var(--primary) / 30%);
      right: 100px;
    }
  }
}

/* Side Navigation Hover Effect */
.side-nav {
    width: 250px;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    background-color: hsl(211, 100%, 89%);
    color: var(--background);
    position: fixed;
    right: 20px;
    top: 25%;
    z-index: 1000;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.7;
    max-height: 50vh;
    overflow-y: auto;
}

.side-nav:hover {
    width: 160px;
    opacity: 1;
}

.side-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav ul li {
    transition: opacity 0.3s ease-in-out;
    padding: 0.5rem 1rem;
}

.side-nav ul li a {
    color: black;
    text-decoration: none;
}

.side-nav:hover ul li {
    opacity: 1;
}

.toggle-button {
    margin: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: #0056b3;
}

/* Mobile styles */
@media (max-width: 640px) {
  .relative.flex.items-center.mt-6.group {
    flex-direction: column;
    align-items: center;
  }
  .relative.-ml,
  .relative.-ml-2 {
    margin-left: 0;
    margin-bottom: 1rem;
  }
  .relative.-ml img,
  .relative.-ml-2 img {
    margin-left: 0;
  }
  .relative.-ml img + img,
  .relative.-ml-2 img + img {
    left: 0 !important;
    top: 0 !important;
  }
  .text-lg.text-gray-600.dark:text-gray-300.ml-2 {
    margin-left: 0;
    text-align: center;
  }
}

/* Toast styles */
[role="status"][data-state="open"],
[role="alert"][data-state="open"] {
  border-radius: 0 !important;
}

[role="region"][id^="toast-"] {
  border-radius: 0 !important;
}

.toast-root {
  border-radius: 0 !important;
}

.toast-viewport {
  border-radius: 0 !important;
}

.toast-action {
  border-radius: 0 !important;
}

/* Toast Progress Bar Animation */
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.progress-animation {
  animation: progress 2000ms linear forwards;
  transform-origin: left;
  will-change: transform;
}